<aside class="left-sidebar" *ngIf="user">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- Custom User Profile -->
        <span class="hide-menu">
            <div class="card">
                <div class="card-body">
                    <small class="text-muted"><i class="fa fa-address-card"></i> Profile</small>
                    <h4 class="card-title">{{user.username}}</h4>
                    <small class="text-muted"><i class="fa fa-user"></i>Name</small>
                    <p class="card-text">{{user.firstName}} {{user.lastName}}</p>
                    <small class="text-muted"><i class="fa fa-envelope"></i>Email Address</small>
                    <p class="card-text">{{user.email}}</p>
                    <a class="btn btn-primary btn-block waves-effect waves-dark" href="#" data-toggle="modal"
                       data-target="#exampleModal"><i
                      class="fa fa-pencil-square-o"></i><span class="hide-menu">Edit Profile</span></a>
                </div>
            </div>
        </span>

        <!-- Profile Edit -->
        <li></li>

        <li class="nav-small-cap"> --- MAIN MENU</li>
        <!-- TODO - need to add admin condition to display navItem.adminOnly links... -->
        <li *ngFor="let navItem of navItems" routerLink="{{ navItem.href }}" routerLinkActive="active">
          <a class="waves-effect waves-dark">
            <i class="ti-layout-grid2"></i>
            <span class="hide-menu"> {{ navItem.name }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
