<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Dashboard</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PREQUAL REQUEST RECEIVED</h5>
        <div class="d-flex m-t-30 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-people text-info"></i></span>
          <div class="link display-5 ml-auto">23</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">QUOTE PROVIDED</h5>
        <div class="d-flex m-t-30 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-envelope-open text-purple"></i></span>
          <div class="link display-5 ml-auto">169</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card m-h-180">
      <div class="card-body">
        <h5 class="card-title">ORDER PLACED WITH ISP</h5>
        <div class="d-flex m-t-50 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-size-actual text-success"></i></span>
          <div class="link display-5 ml-auto">23</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-h-180">
      <div class="card-body">
        <h5 class="card-title">CIRCUIT INSTALLED, DETAILS SENT TO CUSTOMER</h5>
        <div class="d-flex m-t-30 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-wrench text-warning"></i></span>
          <div class="link display-5 ml-auto">169</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-h-180">
      <div class="card-body">
        <h5 class="card-title">ORDER RECEIVED</h5>
        <div class="d-flex m-t-50 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-docs text-danger"></i></span>
          <div class="link display-5 ml-auto">311</div>
        </div>
      </div>
    </div>
  </div>
</div>
