<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Dashboard</h4>
  </div>
</div>

<div class="row" *ngIf="dashStatus">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{dashStatus.prequal.text}}</h5>
        <div class="d-flex m-t-30 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-people text-info"></i></span>
          <div class="link display-5 ml-auto">{{dashStatus.prequal.count}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{dashStatus.quoteProvided.text}}</h5>
        <div class="d-flex m-t-30 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-envelope-open text-purple"></i></span>
          <div class="link display-5 ml-auto">{{dashStatus.quoteProvided.count}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="dashStatus">
  <div class="col-md-4">
    <div class="card m-h-180">
      <div class="card-body">
        <h5 class="card-title">{{dashStatus.orderPlaced.text}}</h5>
        <div class="d-flex m-t-50 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-size-actual text-success"></i></span>
          <div class="link display-5 ml-auto">{{dashStatus.orderPlaced.count}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-h-180">
      <div class="card-body">
        <h5 class="card-title">{{dashStatus.circuitInstalled.text}}</h5>
        <div class="d-flex m-t-30 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-wrench text-warning"></i></span>
          <div class="link display-5 ml-auto">{{dashStatus.circuitInstalled.count}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-h-180">
      <div class="card-body">
        <h5 class="card-title">{{dashStatus.orderReceived.text}}</h5>
        <div class="d-flex m-t-50 no-block align-items-center">
          <span class="display-5 text-info"><i class="icon-docs text-danger"></i></span>
          <div class="link display-5 ml-auto">{{dashStatus.orderReceived.count}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
