<td>{{customer.username}}</td>
<td>{{customer.company}}</td>
<td>{{customer.firstName}}</td>
<td>{{customer.lastName}}</td>
<td>{{customer.email}}</td>
<td>
  <button class="btn btn btn-outline-success btn-sm" data-toggle="modal" data-target="#updateCustomerModal"
          (click)="updateCustomer(customer)">Edit
  </button>
  <button class="btn btn btn-outline-success btn-sm" data-toggle="modal" data-target="#resetPasswordSuccessModal"
          (click)="resetPassword(customer)">Reset Password
  </button>
</td>
