<td>{{provision.id}}</td>
<td>{{provision.company}}</td>
<td>{{provision.siteId}}</td>
<td>{{provision.location.addressLine1}}{{provision.location.addressLine2}}<br>{{provision.location.city}},
  {{provision.location.state}} - {{provision.location.zipCode}}
</td>
<td>{{provision.circuitPurpose}}</td>
<td>{{provision.status}}</td>
<td>{{provision.dateCreated}}</td>
<td>
  <a routerLink="/provision/{{provision.id}}">
    <button class="btn btn-outline-success btn-outline btn-sm">Track Status</button>
  </a>
</td>
